<nav class="navbar" style="background-color: #e3f2fd; ">
  <div class="container">
    <a href="/" class="navbar-brand fw-bold fs-2" style="color: #00289e;">Fast Manager</a>
    <a class="navbar-brand" href="/agendamento">
      <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M13.2895 5.7897C13.438 6.32603 13.4622 6.97541 13.0687 7.3689L7.3689 13.0687C6.97541 13.4622 6.32603 13.438 5.7897 13.2895C4.77646 13.0092 3.48102 13.3942 2.73779 14.1374C1.75407 15.1212 1.75407 16.7161 2.73779 17.6998C3.72152 18.6835 5.31646 18.6835 6.30018 17.6998C5.31646 18.6835 5.31646 20.2785 6.30018 21.2622C7.28391 22.2459 8.87884 22.2459 9.86257 21.2622M14.1374 2.73779C15.1212 1.75407 16.7161 1.75407 17.6998 2.73779C18.6835 3.72152 18.6835 5.31646 17.6998 6.30018C18.6835 5.31646 20.2785 5.31645 21.2622 6.30018C22.2459 7.28391 22.2459 8.87884 21.2622 9.86257C20.519 10.6058 19.2235 10.9908 18.2103 10.7105C17.674 10.562 17.0246 10.5378 16.6311 10.9313L10.9313 16.6311C10.5378 17.0246 10.562 17.674 10.7105 18.2103"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M10.2322 10.2324V12.3537L12.3535 11.6466V13.0608L14.9996 12.5001" stroke="#00289e" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>
    </a>
    <a class="navbar-brand" href="/hospital" title="Hospital">
      <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M22 22L2 22" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path
            d="M17 22V6C17 4.11438 17 3.17157 16.4142 2.58579C15.8284 2 14.8856 2 13 2H11C9.11438 2 8.17157 2 7.58579 2.58579C7 3.17157 7 4.11438 7 6V22"
            stroke="#00289e" stroke-width="1.5"></path>
          <path d="M12 22V19" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M10 12H14" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M5.5 11H7" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M5.5 14H7" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M17 11H18.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M17 14H18.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M5.5 8H7" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M17 8H18.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M12 9V5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M14 7L10 7" stroke="#00289e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path
            d="M20.25 8.5C20.25 8.91421 20.5858 9.25 21 9.25C21.4142 9.25 21.75 8.91421 21.75 8.5H20.25ZM20.1111 5.33706L19.6945 5.96066L19.6945 5.96066L20.1111 5.33706ZM20.6629 5.88886L20.0393 6.30554L20.0393 6.30554L20.6629 5.88886ZM21.75 12.5C21.75 12.0858 21.4142 11.75 21 11.75C20.5858 11.75 20.25 12.0858 20.25 12.5H21.75ZM17.5 5.75C18.2178 5.75 18.6998 5.75091 19.0672 5.78828C19.422 5.82438 19.586 5.8882 19.6945 5.96066L20.5278 4.71346C20.1318 4.44886 19.6925 4.34415 19.219 4.29598C18.758 4.24909 18.1866 4.25 17.5 4.25V5.75ZM21.75 8.5C21.75 7.81338 21.7509 7.24196 21.704 6.78102C21.6559 6.30755 21.5511 5.86818 21.2865 5.47218L20.0393 6.30554C20.1118 6.41399 20.1756 6.57796 20.2117 6.93283C20.2491 7.30023 20.25 7.78216 20.25 8.5H21.75ZM19.6945 5.96066C19.831 6.05186 19.9481 6.16905 20.0393 6.30554L21.2865 5.47218C21.0859 5.17191 20.8281 4.91409 20.5278 4.71346L19.6945 5.96066ZM20.25 12.5V22H21.75V12.5H20.25Z"
            fill="#00289e"></path>
          <path
            d="M3.88886 5.33706L4.30554 5.96066L4.30554 5.96066L3.88886 5.33706ZM3.33706 5.88886L3.96066 6.30554L3.96066 6.30554L3.33706 5.88886ZM3.75 17C3.75 16.5858 3.41421 16.25 3 16.25C2.58579 16.25 2.25 16.5858 2.25 17H3.75ZM2.25 13C2.25 13.4142 2.58579 13.75 3 13.75C3.41421 13.75 3.75 13.4142 3.75 13H2.25ZM6.5 4.25C5.81338 4.25 5.24196 4.24909 4.78102 4.29598C4.30755 4.34415 3.86818 4.44886 3.47218 4.71346L4.30554 5.96066C4.41399 5.8882 4.57796 5.82438 4.93283 5.78828C5.30023 5.75091 5.78216 5.75 6.5 5.75V4.25ZM3.75 8.5C3.75 7.78216 3.75091 7.30023 3.78828 6.93283C3.82438 6.57796 3.8882 6.41399 3.96066 6.30554L2.71346 5.47218C2.44886 5.86818 2.34415 6.30755 2.29598 6.78102C2.24909 7.24196 2.25 7.81338 2.25 8.5H3.75ZM3.47218 4.71346C3.17191 4.91409 2.91409 5.17191 2.71346 5.47218L3.96066 6.30554C4.05186 6.16905 4.16905 6.05186 4.30554 5.96066L3.47218 4.71346ZM2.25 17V22H3.75V17H2.25ZM2.25 8.5V13H3.75V8.5H2.25Z"
            fill="#00289e"></path>
          <path d="M10 15H10.5M14 15H12.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
        </g>
      </svg>
    </a>
    <a class="navbar-brand" href="/item">
      <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M13.5 7.64214L9.07107 3.2132C7.45346 1.5956 4.83081 1.5956 3.2132 3.2132C1.5956 4.83081 1.5956 7.45346 3.2132 9.07107L14.9289 20.7868C16.5465 22.4044 19.1692 22.4044 20.7868 20.7868C22.4044 19.1692 22.4044 16.5465 20.7868 14.9289L16.4289 10.5711"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path
            d="M12 17.8579L9.07102 20.7868C7.45342 22.4044 4.83076 22.4044 3.21316 20.7868C2.97114 20.5448 2.76534 20.2803 2.59574 20M6.14209 12L3.21316 14.9289C2.89075 15.2513 2.63261 15.6137 2.43872 16M12 6.14214L14.9289 3.2132C16.5465 1.5956 19.1691 1.5956 20.7867 3.2132C22.4044 4.83081 22.4044 7.45346 20.7867 9.07107L17.8578 12"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path
            d="M15.8414 12.8714C16.1489 13.179 16.1489 13.6776 15.8414 13.9852C15.5338 14.2927 15.0352 14.2927 14.7277 13.9852C14.4201 13.6776 14.4201 13.179 14.7277 12.8714C15.0352 12.5639 15.5338 12.5639 15.8414 12.8714Z"
            fill="#00289e"></path>
          <path
            d="M12.1289 9.15895C11.8214 8.8514 11.3227 8.8514 11.0152 9.15895C10.7076 9.4665 10.7076 9.96514 11.0152 10.2727C11.3227 10.5802 11.8214 10.5802 12.1289 10.2727C12.4365 9.96514 12.4365 9.4665 12.1289 9.15895Z"
            fill="#00289e"></path>
          <path
            d="M16.7695 15.6558C17.0771 15.9633 17.0771 16.462 16.7695 16.7695C16.462 17.0771 15.9633 17.0771 15.6558 16.7695C15.3482 16.462 15.3482 15.9633 15.6558 15.6558C15.9633 15.3482 16.462 15.3482 16.7695 15.6558Z"
            fill="#00289e"></path>
          <path
            d="M9.34458 8.23084C9.03703 7.92329 8.53839 7.92329 8.23084 8.23084C7.92329 8.53839 7.92329 9.03703 8.23084 9.34458C8.53839 9.65213 9.03703 9.65213 9.34458 9.34458C9.65213 9.03703 9.65213 8.53839 9.34458 8.23084Z"
            fill="#00289e"></path>
          <path
            d="M13.057 11.9433C13.3646 12.2509 13.3646 12.7495 13.057 13.057C12.7495 13.3646 12.2509 13.3646 11.9433 13.057C11.6358 12.7495 11.6358 12.2509 11.9433 11.9433C12.2509 11.6358 12.7495 11.6358 13.057 11.9433Z"
            fill="#00289e"></path>
          <path
            d="M13.9852 14.7277C14.2927 15.0352 14.2927 15.5338 13.9852 15.8414C13.6776 16.1489 13.179 16.1489 12.8714 15.8414C12.5639 15.5338 12.5639 15.0352 12.8714 14.7277C13.179 14.4201 13.6776 14.4201 13.9852 14.7277Z"
            fill="#00289e"></path>
          <path
            d="M10.2727 11.0152C9.96514 10.7076 9.4665 10.7076 9.15895 11.0152C8.8514 11.3227 8.8514 11.8214 9.15895 12.1289C9.4665 12.4365 9.96514 12.4365 10.2727 12.1289C10.5802 11.8214 10.5802 11.3227 10.2727 11.0152Z"
            fill="#00289e"></path>
        </g>
      </svg>
    </a>
    <a class="navbar-brand" href="/medico">
      <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.43821 2.49073 5.80655 2.16444 8 2.0551"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <ellipse cx="15" cy="10.5" rx="1" ry="1.5" fill="#00289e"></ellipse>
          <ellipse cx="9" cy="10.5" rx="1" ry="1.5" fill="#00289e"></ellipse>
          <path
            d="M16.5 21.4996L17 14.9996L13.857 13.7424C12.6649 13.2656 11.3351 13.2656 10.143 13.7424L7 14.9996L7.5 21.4996"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M7 15L2.5 13" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M7 19L3.5 20.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M17 15L21.5 13" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <path d="M17 19L20.5 20.5" stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
        </g>
      </svg>
    </a>
    <a class="navbar-brand" href="/paciente">
      <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M8 13H16C17.7107 13 19.1506 14.2804 19.3505 15.9795L20 21.5M8 13C6.28928 13 4.84936 14.2804 4.64948 15.9795L4 21.5M8 13V18C8 19.8856 8 20.8284 8.58579 21.4142C9.17157 22 10.1144 22 12 22C13.8856 22 14.8284 22 15.4142 21.4142C16 20.8284 16 19.8856 16 18V17"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
          <circle cx="12" cy="6" r="4" stroke="#00289e" stroke-width="1.5"></circle>
        </g>
      </svg>
    </a>
    <div class="btn-group">
  <a type="button" class="dropdown" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <circle cx="12" cy="12" r="3" stroke="#00289e" stroke-width="1.5"></circle>
          <path
            d="M3.66122 10.6392C4.13377 10.9361 4.43782 11.4419 4.43782 11.9999C4.43781 12.558 4.13376 13.0638 3.66122 13.3607C3.33966 13.5627 3.13248 13.7242 2.98508 13.9163C2.66217 14.3372 2.51966 14.869 2.5889 15.3949C2.64082 15.7893 2.87379 16.1928 3.33973 16.9999C3.80568 17.8069 4.03865 18.2104 4.35426 18.4526C4.77508 18.7755 5.30694 18.918 5.83284 18.8488C6.07287 18.8172 6.31628 18.7185 6.65196 18.5411C7.14544 18.2803 7.73558 18.2699 8.21895 18.549C8.70227 18.8281 8.98827 19.3443 9.00912 19.902C9.02332 20.2815 9.05958 20.5417 9.15224 20.7654C9.35523 21.2554 9.74458 21.6448 10.2346 21.8478C10.6022 22 11.0681 22 12 22C12.9319 22 13.3978 22 13.7654 21.8478C14.2554 21.6448 14.6448 21.2554 14.8478 20.7654C14.9404 20.5417 14.9767 20.2815 14.9909 19.9021C15.0117 19.3443 15.2977 18.8281 15.7811 18.549C16.2644 18.27 16.8545 18.2804 17.3479 18.5412C17.6837 18.7186 17.9271 18.8173 18.1671 18.8489C18.693 18.9182 19.2249 18.7756 19.6457 18.4527C19.9613 18.2106 20.1943 17.807 20.6603 17C20.8677 16.6407 21.029 16.3614 21.1486 16.1272M20.3387 13.3608C19.8662 13.0639 19.5622 12.5581 19.5621 12.0001C19.5621 11.442 19.8662 10.9361 20.3387 10.6392C20.6603 10.4372 20.8674 10.2757 21.0148 10.0836C21.3377 9.66278 21.4802 9.13092 21.411 8.60502C21.3591 8.2106 21.1261 7.80708 20.6601 7.00005C20.1942 6.19301 19.9612 5.7895 19.6456 5.54732C19.2248 5.22441 18.6929 5.0819 18.167 5.15113C17.927 5.18274 17.6836 5.2814 17.3479 5.45883C16.8544 5.71964 16.2643 5.73004 15.781 5.45096C15.2977 5.1719 15.0117 4.6557 14.9909 4.09803C14.9767 3.71852 14.9404 3.45835 14.8478 3.23463C14.6448 2.74458 14.2554 2.35523 13.7654 2.15224C13.3978 2 12.9319 2 12 2C11.0681 2 10.6022 2 10.2346 2.15224C9.74458 2.35523 9.35523 2.74458 9.15224 3.23463C9.05958 3.45833 9.02332 3.71848 9.00912 4.09794C8.98826 4.65566 8.70225 5.17191 8.21891 5.45096C7.73557 5.73002 7.14548 5.71959 6.65205 5.4588C6.31633 5.28136 6.0729 5.18269 5.83285 5.15108C5.30695 5.08185 4.77509 5.22436 4.35427 5.54727C4.03866 5.78945 3.80569 6.19297 3.33974 7C3.13231 7.35929 2.97105 7.63859 2.85138 7.87273"
            stroke="#00289e" stroke-width="1.5" stroke-linecap="round"></path>
        </g>
      </svg>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end">
    <li><a class="dropdown-item" href="/usuario/novoUsuario">Cadastrar Usuario</a></li>
    <li><a class="dropdown-item" href="/usuario">Consultar Usuario</a></li>
  </ul>
</div>
    
  </div>
</nav>